h1{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 700 !important;
    font-size: 4vw!important;
    color: black;
}
.h1{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 700 !important;
    font-size: 5vw !important;
    color: black;
}
h2{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 700 !important;
    font-size: 40px !important;
    color: black;
}
p{
    font-family: 'Zen Maru Gothic';
    font-size: 20px !important;
    color: black; 
}

.nav-link{
    font-family: 'Zen Maru Gothic';
}

.doc{
    height: 90vh;
    width: 100%;
}
@media only screen and (max-width: 600px){
    .h1{
       font-size: 10vw !important;
       
    }
    h1{
        font-size: 10vw;
    }
    .inv{
        display: none;
    }
    p{
        margin-top: 20px !important;
        text-align: center;
    }
}

.reg{
    background-color: #437ae1 !important;
    color: white !important;
    height: 50px;
    font-size: 15px !important;
}

.ct{
    background-color: #00DBDE;
    background-image: linear-gradient(270deg, #00DBDE 0%, #FC00FF 100%);
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.myClickState {
    background-color: lime;
  }
  .tick{
    height: 30vh;
  }
  .navbar{
    background-color: #00DBDE;
    background-image: linear-gradient(270deg, #00DBDE 0%, #FC00FF 100%);
  }
